/* GERAL */
* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/computador.jpg");
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0%;
   background-size: cover;

}

a {
    text-decoration: none;
   
}
a:hover{/*mudar a cor dos ícones das redes sociais*/
    filter: grayscale(100%);
    transition-duration: 1s;

}

/* FONTS */
h1 {
    color:#5F88C2;
    font-size: 25px;
}

h2 {
    color: #04080F;   
    font-size: 20px;
}

/* SEÇÃO SOBRE */
.secao-sobre {
    background-color: white;
    width: 900px;
    height: 500px;
    margin: 0 auto;
}

.sobre-conteudo__img {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}  
    
.sobre-conteudo {
    /* font-family: 'Lato', sans-serif; */
    text-align: center;
    margin: 0%;
    
}

.sobre-conteudo__redes-sociais {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 50px;
    
}

.sobre-conteudo__redes-sociais img {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

@media screen and (max-width: 780px) {
.secao-sobre {
    background-color:black;
    width: 550px;
    height: 500px;
    
  }  
}
 @media screen and (max-width:500px){
    .secao-sobre {
        background-color:yellow;
        width: 400px;
        height: 450px;
        
      }  

    .sobre-conteudo__redes-sociais img {
        width: 40px;
        height: 40px;
        margin-left: 40px;
    }
    body {
        background-image: url("../img/computador.jpg");
       height: 100vh;
    
    }
 }
